body {
	margin: 0;
}
#login {
}
.message-box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 13;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	visibility: hidden;
}
.error-info {
	color: red;
	margin-top: 10px;
	padding: 6px;
	border-radius: 4px;
	background-color: #fff6bd;
	border: 1px solid #f5b8a7;
}

.sessionPage {
	padding: 100px 10px 40px;
	max-width: 270px;
	margin: 0 auto;
}
.sessionPage .sessionPage-logo {
	text-align: center;
}
.sessionPage-logo img {
	width: 20px;
}

.sessionPage .sessionPage-content {
	padding: 30px 0 0;
}
.sessionPage-content form {
}

.sessionPage-content form .form-group {
	text-align: center;
	margin-bottom: 10px;
}
.sessionPage-content form .form-group-add {
	margin-top: 20px;
}
.form-group .form-control{
	width: 100%;
	padding: 8px 0;
	border-radius: 4px;
	outline: none;
	padding-left: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.form-group .error-name,
.form-group .error-pass {
	text-align: left;
	color: #dc3545;
	font-size: 14px;
	visibility: hidden;
}
.form-group .mybtn {
	width: 100%;
	padding: 10px 0 !important;
	color: #fff;
	background-color:#d23430;
	border: 1px solid #d23430 !important;
	border-radius: 4px;
	outline: none;
}
.mybtn:hover {
	cursor: pointer;
	background-color: #a53633;
}
.form-group .singup {
	font-size: 13px;
}
.form-group .singup a{
	text-decoration: none;
	color: #16a6c1;
}
.form-group .singup a:hover {
	text-decoration: underline;
}

.show {
	visibility: visible !important;
}
.error-input {
	border: 1px solid #dc3545 !important;
}