/*
* @Author: Star
* @Date:   2019-04-28 14:39:11
* @Last Modified by:   Star
* @Last Modified time: 2019-04-29 14:43:13
*/
html {
	height: 100%;
	width: 100%;
	font-size: 14px;
}

body {
	height: 100%;
	width: 100%;
	background: #eee;
}

@media only screen and (min-width:960px) and (max-width:1024px) {
	html {
		font-size: 13px;
	}
}

@media only screen and (min-width:600px) and (max-width:960px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (min-width:0px) and (max-width:600px) {
	html {
		font-size: 11px;
	}
}

/*抽取公共样式*/
.mian-box {
	padding: 0;
	max-width: 70rem;
	background-color: #fff;
	border-radius: 0.4rem;
}
.mian-view {
	position: relative;
	max-width: 100%;
	background-color: #fff;
	border-radius: 0.4rem;
	box-sizing: border-box;
	padding: 0 1.4rem;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.container {
	width: 100%;
	padding: 0;
}
/*头部导航条*/
.container .header {
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
}
.header .back {
	position: fixed;
	left: 0;
	font-size: 1.4rem;
	padding: 1rem 1.4rem;
	cursor: pointer;
}
.header .word {
	font-size: 1.4rem;
	font-weight: 600;
}
.topic {
}

#content {
	margin-bottom: 1rem;
}
/*最大的容器*/
#content .column-view {
	overflow: hidden;
}
/*文章容器*/
.column-view .article-area {
	padding-bottom: 2rem;
}
/*文章*/
article.article {

}
/*作者详情*/
article .author-info-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 2rem;
}
/*作者头像*/
.avatar-link {

}
.avatar-link .avatar-img {
	flex: 0 0 auto;
	margin-right: 1rem;
	display: inline-block;
	position: relative;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #eee;
}
/*作者名字*/
.author-info-box {
	display: flex;
	flex-direction: column;
}
.author-info-box a {
	font-weight: 600;
	display: inline-block;
	max-width: 100%;
	font-size: 1.4rem;
	font-weight: 700;
	color: #333;
}
.author-info-box a .username {

}
/*发布时间及浏览量*/
/*.meta-box {
	display: flex;
	color: #909090;
	font-size: 1rem;
}
.meta-box .time {
	margin-right: 20px;
}
.meta-box .views-count {

}*/
/*文章标题*/
article .article-title {
	text-align: center;
	font-weight: 600;
	font-size: 2.4rem;
}
/*文章内容*/
article .article-content {
	color: #686868;
	font-size: 1.1rem;
}
/*评论和点赞*/
.column-view .article-star {
	position: relative;
	padding-top: 2rem;
	height: 2rem;
	line-height: 2rem;
	padding-bottom: 3rem;
	float: right;
}
.article-star-wrap {
	display: flex;
	font-size: 1rem;
	cursor: pointer;
	font-weight: 600;
	color: #aaa;
}
.star {
	margin-right: 2rem;
}
.star-number {
	padding-left: 0.1rem;
}
.collection {

}
.collection-number {
	padding-left: 0.1rem;
}



/*评论的信息*/
#asy {
	margin-bottom: 3rem;
}
.warp-comment {
}
img{
	width: 3rem;
	border-radius: 1.5rem;
}
.warp-comment .comment-view {
	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	min-height: 30rem;
}
/*评论的综述*/
.comment-tosay {
	display: flex;
}
.comment-title {
	width: 40%;
	font-size: 1.1rem;
	color: #aaa;
	line-height: 2.4rem;
	border-bottom: 1px solid #eee;
}
/*下划线*/
.comment-title-bottom {
	border-bottom: none;
}
.comment-say {
	width: 6rem;
	margin-left: 50%;
	display: flex;
	align-items: center;
	float: right;
	flex-direction: row-reverse;
}
.comment-say:hover {
	cursor: pointer;
}
.comment-say-click {
	color: #03c0a5;
	font-weight: 600;
}
.glyphicon-pad {
	padding-left: 0.4rem;
}

/*自己评论的输入框*/
.avatar-box {
	padding: 10px;
	background-color: #f4f5f5;
	display: none;
}
/*点击显示隐藏*/
.avatar-box-show {
	display: block;
}
.avatar-info-two {
	display: flex;
	flex-direction: row;
	height: 3rem;
	align-items: center;
}
.avatar-img {
	margin-right: 10px;
}
.avatar-name {
	font-weight: 600;
	font-size: 1.3rem;
	color: #d9534f;
}
/*editor富文本编译器*/
.form-box {

}
#editor {
	background-color: #fff;
	border: 1px solid #ccc;
	overflow-x: scroll;
}
.toolbar {
	border-bottom: 1px solid #eee;
}
.text {
	min-height: 100px;
}

/*提交button*/
.editor-btn{
	width: 100%;
	height: auto;
	margin-top: 10px;
	overflow: hidden;
}
.submit {
	float: right;
	color: #fff;
	background: #76a9de;
	border-radius: 2px;
	cursor: pointer;
	padding: 10px 20px;
	border: none;
	font-weight: 600;
	font-size: 1.2rem;
}
.submit-font {
	background-color: #027fff;
}

/*评论列表*/
.comment-list {

}
.image-viewer-box {

}

.item {

}

.comment {
	margin: 1rem 0;
	display: flex;
	flex-direction: row;
}

/*评论人头像*/
.user-popover-box {
	margin-right: 0.4rem;
}

/*评论内容&&评论人姓名*/
.comment .comment-divider-line {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.other-meta-box {
	display: flex;
	flex-direction: column;
	width: 100%;
}
/*评论人姓名*/
.comment-user-name {
	font-size: 14px;
	font-weight: 600;
}
.comment-user-name a{
	color: #d9534f;
}
/*评论内容*/
.comment-content {
	margin: 0.8rem 0;
	font-size: 1rem;
	color: #686868;
	word-break: break-all;
}

/*评论时间 和回复*/
.reply-stat {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.reply-stat .time {
	color: #bbb;
	width: 40%;
}
.reply-stat .action-box {
	display: flex;
	flex-direction: row-reverse;
	width: 65%;
}
.reply-stat .action-box .comment-action {
	cursor: pointer;
}
.reply-stat .action-box .comment-action .subimt-title {
	margin-left: 6px;
}

/*评论的回复*/
.comments-add {
	margin: 0.8rem 2rem;
	display: flex;
	flex-direction: row;
}
.media-comment {
	display: flex;
}
