/*
* @Author: Star
* @Date:   2019-04-23 12:46:05
* @Last Modified by:   Star
* @Last Modified time: 2019-04-29 21:34:11
*/

html {
	height: 100%;
	width: 100%;
	font-size: 14px;
}

body {
	height: 100%;
	width: 100%;
	background: #eee;
}

@media only screen and (min-width:960px) and (max-width:1024px) {
	html {
		font-size: 13px;
	}
}

@media only screen and (min-width:600px) and (max-width:960px) {
	html {
		font-size: 12px;
	}
}

@media only screen and (min-width:0px) and (max-width:600px) {
	html {
		font-size: 11px;
	}
}

/*抽取公共样式*/
.mian-box {
	padding: 0;
	max-width: 70rem;
	background-color: #fff;
	border-radius: 0.4rem;
}
.mian-view {
	position: relative;
	max-width: 100%;
	background-color: #fff;
	border-radius: 0.4rem;
	box-sizing: border-box;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}


.container {
	width: 100%;
	padding: 0;
}
/*头部导航条*/
.container .header {
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .1);
}
.header .back {
	position: fixed;
	left: 0;
	font-size: 1.4rem;
	padding: 1rem 1.4rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	color: #aaa;
}
.back:hover {
	color: #03c0a5;
}
.back-to {
	font-size: 1.4rem;
}
.header .word {
	font-size: 1.4rem;
	font-weight: 600;
}
.topic {
}

/*个人中心内容*/
#user-center {

}

.wrapper {
	display: flex;
	flex-direction: row;
}
/*左边侧边导航栏*/
.left-box {
	padding: 2rem 0;
	width: 12rem;
	background: pink;
}
.fiexd-slider {

}
/*用户信息*/
.avatar-info {
	color: #aaa;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.avatar-info .img {
	width: 4rem;
	border-radius: 2rem;
}
.avatar-info .user-name {
	padding-top: 1rem;
	font-size: 1.1rem;
}
/*设置*/
.avatar-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.fiexd-slider .nav>li {
	width: 100%;
	text-align: center;
}
.fiexd-slider .nav>li>a {
	padding: 0.7rem 0.3rem;
	color: #ccc;
	font-size: 1rem;
}
.active {

}
/*显示的信息*/
.right-box {
	width: 58rem;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	background: yellow;
}





